<p style="color: green"><%= notice %></p>

<h1>Tweeter</h1>

<%= turbo_stream_from "tweets" %>

<%= turbo_frame_tag "tweet_form" do%>
  <%= render "tweets/form", tweet: @tweet %>
<% end %>

<div data-controller="chart">
  <%# <%= turbo_frame_tag "tweets" do %> 
    <%# <%= render @tweets %> 
  <%# <% end %> 
  <%= column_chart Tweet.group(:created_at).count %>
</div>